@import url("base.css");
@import url("header.css");
body {
    font-family: sora;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 90px;
  }
.titulo {
color: gold; 
text-align: center;
}
  .contenedor {
    background-color:#ffd700;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0px 40px rgba(255, 70, 178, 0.649);
    width: 100%;
    max-width: 400px;
  }

  .iconos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    padding-top: 50px;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
  }

  label {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
  }

  input, textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: 3px solid #ff69b4;
    border-radius: 8px;
    font-size: 1rem;
    
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #000;
    color: lab(100% 0.01 -0.01);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color:hotpink;
  }