.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    backdrop-filter: blur(20px);
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    height: 70px;
    display: flex;
}

.logo:hover {
    filter: hue-rotate(280deg);
    filter: invert(1) hue-rotate(430deg);
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-family: sora;
    color: gold;
    font-weight: 500;
    padding: 8px 12px;
    transition: background 0.3s;
    border-radius: 20px;
}

.menu a:hover {
    font-family: sora;
    color: hotpink;
    text-decoration: none;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}

/* Media queries para hacer el header responsive */
@media (max-width: 768px) {
    .barra {
        padding: 8px 15px;
    }
    
    .menu {
        gap: 15px;
        justify-content: center;
    }
    
    .logo {
        height: 50px;
    }
    
    .menu a {
        font-size: 14px;
        padding: 6px 10px;
    }
}

@media (max-width: 480px) {
    .barra {
        padding: 5px 10px;
    }
    
    .menu {
        gap: 10px;
    }
    
    .logo {
        height: 40px;
    }
    
    .menu a {
        font-size: 12px;
        padding: 5px 8px;
    }
}